$titleColor : #F596AA;
$titleHoverColor:#F75C2F;
$backgroundImage: "https://jonnnyportfolioimagebucket.s3-ap-southeast-2.amazonaws.com/Image/IMG_9328.jpg";
$projectListBackgroundColor:#E7E7E7;
$backgroundImageVideo:"https://jonnnyportfolioimagebucket.s3-ap-southeast-2.amazonaws.com/Image/PortfolioBackground.gif"

