$titleColor : #F596AA;
$titleHoverColor:#F75C2F;
$bottomBackgroundImage: "https://jonnnyportfolioimagebucket.s3-ap-southeast-2.amazonaws.com/Image/aboutMeBackground3.png";
$projectListBackgroundColor:#E7E7E7;
$profileImage:"https://jonnnyportfolioimagebucket.s3-ap-southeast-2.amazonaws.com/Image/IMG_9660.jpg";
